/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos de body*/
body {
  background-image: url(../img/FullSizeRenderbyn.png);
  margin: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  /*estilos de header*/ }
  body header {
    margin: auto;
    padding: 1rem;
    height: 6rem;
    background: linear-gradient(to top, #6e6d6d95, #010101b4);
    display: flex;
    justify-content: space-around;
    align-items: center; }
    body header div a img {
      height: 5%;
      width: 15%; }
    body header .navbar .container-fluid .offcanvas-header #offcanvasNavbarLabel {
      font-size: 1.3rem;
      font-family: 'Montserrat', sans-serif;
      color: #260101; }
    body header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item {
      margin: 1rem;
      position: relative; }
      body header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item :before {
        width: 90%; }
      body header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item :hover:before {
        content: "";
        border-bottom: 2px solid #6d402f;
        position: absolute;
        bottom: 1px;
        width: 90%;
        right: 0;
        transition: 0.2s;
        opacity: 1; }
      body header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item :after {
        width: 50%; }
      body header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item :hover:after {
        content: "";
        border-bottom: 2px solid #6d402f;
        position: absolute;
        bottom: -5px;
        width: 70%;
        left: 0;
        transition: 0.2s;
        opacity: 2;
        width: 50%; }
      body header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item .nav-link {
        padding-right: 10px;
        font-size: 1rem;
        color: #080808; }
  body .encabezado .banner {
    display: flex;
    justify-content: center; }
    body .encabezado .banner .bannerUno {
      text-align: center; }
      body .encabezado .banner .bannerUno #bannerP {
        max-width: 50%;
        height: auto;
        object-fit: cover;
        justify-items: center;
        margin: 1rem; }
  body .mainPrincipal {
    height: 115vh;
    margin: 0.5rem; }
    @media screen and (max-width: 900px) {
      body .mainPrincipal {
        height: 105vh;
        margin: 0.5rem; } }
    @media screen and (max-width: 600px) {
      body .mainPrincipal {
        height: 100vh;
        margin: 0.5rem; } }
    body .mainPrincipal .imagenes-conteiner {
      margin: 2rem;
      padding: 0.5rem;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1;
      justify-items: center;
      margin-top: 4rem; }
      @media screen and (max-width: 900px) {
        body .mainPrincipal .imagenes-conteiner {
          height: 85vh;
          margin: 1rem;
          margin-top: 2rem;
          gap: 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(2, 35%); } }
      @media screen and (max-width: 600px) {
        body .mainPrincipal .imagenes-conteiner {
          margin: 0.7rem;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 20%); } }
      @media screen and (max-width: 900px) {
        body .mainPrincipal .imagenes-conteiner .carta {
          width: 60%; } }
      @media screen and (max-width: 600px) {
        body .mainPrincipal .imagenes-conteiner .carta {
          width: 60%; } }
      body .mainPrincipal .imagenes-conteiner .carta .img {
        transition: 1s; }
        body .mainPrincipal .imagenes-conteiner .carta .img :hover {
          transform: scale(1.2);
          opacity: 100%;
          transition: 1s; }
  body .mainPrincipal .imagenes-conteiner .carta .img #img-uno, body .mainPrincipal .imagenes-conteiner .carta .img #img-dos, body .mainPrincipal .imagenes-conteiner .carta .img #img-tres, body .mainPrincipal .imagenes-conteiner .carta .img #img-cuatro {
    width: 95%;
    height: 95%;
    object-fit: cover;
    grid-column: span 1;
    grid-row: span 1;
    transition: 1s; }
  body .mainFotografia .fotografias .fotosUno, body .mainFotografia .fotografias .fotosDos, body .mainFotografia .fotografias .fotosTres, body .mainFotografia .fotografias .fotosCuatro, body .mainFotografia .fotografias .fotosCinco, body .mainFotografia .fotografias .fotosSeis, body .mainFotografia .fotografias .fotosSiete, body .mainFotografia .fotografias .fotosOcho {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 1;
    grid-column: span 1; }
  body .mainCampanas .contenidosP .containerUno .clap h2, body .mainCampanas .contenidosP .containerUno .clap p, body .mainCampanas .contenidosP .containerDos .laentrerios h2, body .mainCampanas .contenidosP .containerDos .laentrerios p {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #000000; }
  body .mainCampanas .contenidosP .containerUno .contenedor-carousell .contenedor-carousel .row #carouselExampleFade .carousel-inner .carousel-item, body .mainCampanas .contenidosP .containerDos .contenedor-carousell .contenedor-carousel .row #carouselExampleFadee .carousel-inner .carousel-item {
    display: block;
    width: 100%;
    height: 300px; }
  body .mainCampanas .contenidosP .containerUno .contenedor-carousell .contenedor-carousel .row #carouselExampleFade .carousel-inner .carousel-item img, body .mainCampanas .contenidosP .containerDos .contenedor-carousell .contenedor-carousel .row #carouselExampleFadee .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  body .mainVideos .videos .videoUno, body .mainVideos .videos .videoDos, body .mainVideos .videos .videoTres, body .mainVideos .videos .videoCuatro, body .mainVideos .videos iframe {
    width: 70%;
    height: 100%;
    object-fit: contain;
    grid-row: span 1;
    grid-column: span 1; }
  body .mainFotografia {
    height: 190vh;
    margin: 0.5rem; }
    @media screen and (max-width: 900px) {
      body .mainFotografia {
        height: 135vh;
        margin: 0.5rem; } }
    @media screen and (max-width: 600px) {
      body .mainFotografia {
        height: 190vh;
        margin: 0.5rem; } }
    body .mainFotografia .fotografias {
      margin: 1rem;
      padding: 2rem;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 45%);
      background-color: #ada5a4b4; }
      @media screen and (max-width: 900px) {
        body .mainFotografia .fotografias {
          margin: 1rem;
          padding: 2rem;
          background-color: #ada5a4b4;
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 40% 40%; } }
      @media screen and (max-width: 600px) {
        body .mainFotografia .fotografias {
          height: 175vh;
          display: grid;
          gap: 1rem;
          padding: 1rem;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 16%);
          text-align: center; } }
      @media screen and (max-width: 900px) {
        body .mainFotografia .fotografias .fotosSiete {
          display: none; } }
      @media screen and (max-width: 600px) {
        body .mainFotografia .fotografias .fotosSiete {
          display: none; } }
      @media screen and (max-width: 900px) {
        body .mainFotografia .fotografias .fotosOcho {
          display: none; } }
      @media screen and (max-width: 600px) {
        body .mainFotografia .fotografias .fotosOcho {
          display: none; } }
  body .mainPrincipal .imagenes-conteiner .carta .img #img-uno, body .mainPrincipal .imagenes-conteiner .carta .img #img-dos, body .mainPrincipal .imagenes-conteiner .carta .img #img-tres, body .mainPrincipal .imagenes-conteiner .carta .img #img-cuatro {
    width: 95%;
    height: 95%;
    object-fit: cover;
    grid-column: span 1;
    grid-row: span 1;
    transition: 1s; }
  body .mainFotografia .fotografias .fotosUno, body .mainFotografia .fotografias .fotosDos, body .mainFotografia .fotografias .fotosTres, body .mainFotografia .fotografias .fotosCuatro, body .mainFotografia .fotografias .fotosCinco, body .mainFotografia .fotografias .fotosSeis, body .mainFotografia .fotografias .fotosSiete, body .mainFotografia .fotografias .fotosOcho {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 1;
    grid-column: span 1; }
  body .mainCampanas .contenidosP .containerUno .clap h2, body .mainCampanas .contenidosP .containerUno .clap p, body .mainCampanas .contenidosP .containerDos .laentrerios h2, body .mainCampanas .contenidosP .containerDos .laentrerios p {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #000000; }
  body .mainCampanas .contenidosP .containerUno .contenedor-carousell .contenedor-carousel .row #carouselExampleFade .carousel-inner .carousel-item, body .mainCampanas .contenidosP .containerDos .contenedor-carousell .contenedor-carousel .row #carouselExampleFadee .carousel-inner .carousel-item {
    display: block;
    width: 100%;
    height: 300px; }
  body .mainCampanas .contenidosP .containerUno .contenedor-carousell .contenedor-carousel .row #carouselExampleFade .carousel-inner .carousel-item img, body .mainCampanas .contenidosP .containerDos .contenedor-carousell .contenedor-carousel .row #carouselExampleFadee .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  body .mainVideos .videos .videoUno, body .mainVideos .videos .videoDos, body .mainVideos .videos .videoTres, body .mainVideos .videos .videoCuatro {
    width: 70%;
    height: 100%;
    object-fit: contain;
    grid-row: span 1;
    grid-column: span 1; }
  body .mainCampanas {
    height: 140vh;
    margin: 0.5rem; }
    @media screen and (max-width: 600px) {
      body .mainCampanas {
        height: 170vh;
        margin: 0.5rem; } }
    body .mainCampanas .contenidosP .containerUno {
      margin: 3rem;
      padding: 2rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1;
      align-items: center;
      background-color: #9b939495; }
      @media screen and (max-width: 600px) {
        body .mainCampanas .contenidosP .containerUno {
          background-color: #9b939495;
          height: 20hv;
          display: flex;
          flex-direction: column;
          margin: 2rem;
          text-align: center; } }
      body .mainCampanas .contenidosP .containerUno .contenedor-carousell .contenedor-carousel {
        text-align: center; }
    body .mainCampanas .contenidosP .containerDos {
      margin: 3rem;
      padding: 2rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1;
      align-items: center;
      background-color: #9b939495; }
      @media screen and (max-width: 600px) {
        body .mainCampanas .contenidosP .containerDos {
          background-color: #9b939495;
          height: 20hv;
          display: flex;
          flex-direction: column;
          margin: 2rem;
          text-align: center; } }
      body .mainCampanas .contenidosP .containerDos .contenedor-carousell .contenedor-carousel {
        text-align: center; }
  body .mainPrincipal .imagenes-conteiner .carta .img #img-uno, body .mainPrincipal .imagenes-conteiner .carta .img #img-dos, body .mainPrincipal .imagenes-conteiner .carta .img #img-tres, body .mainPrincipal .imagenes-conteiner .carta .img #img-cuatro {
    width: 95%;
    height: 95%;
    object-fit: cover;
    grid-column: span 1;
    grid-row: span 1;
    transition: 1s; }
  body .mainFotografia .fotografias .fotosUno, body .mainFotografia .fotografias .fotosDos, body .mainFotografia .fotografias .fotosTres, body .mainFotografia .fotografias .fotosCuatro, body .mainFotografia .fotografias .fotosCinco, body .mainFotografia .fotografias .fotosSeis, body .mainFotografia .fotografias .fotosSiete, body .mainFotografia .fotografias .fotosOcho {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 1;
    grid-column: span 1; }
  body .mainCampanas .contenidosP .containerUno .clap h2, body .mainCampanas .contenidosP .containerUno .clap p, body .mainCampanas .contenidosP .containerDos .laentrerios h2, body .mainCampanas .contenidosP .containerDos .laentrerios p {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #000000; }
  body .mainCampanas .contenidosP .containerUno .contenedor-carousell .contenedor-carousel .row #carouselExampleFade .carousel-inner .carousel-item, body .mainCampanas .contenidosP .containerDos .contenedor-carousell .contenedor-carousel .row #carouselExampleFadee .carousel-inner .carousel-item {
    display: block;
    width: 100%;
    height: 300px; }
  body .mainCampanas .contenidosP .containerUno .contenedor-carousell .contenedor-carousel .row #carouselExampleFade .carousel-inner .carousel-item img, body .mainCampanas .contenidosP .containerDos .contenedor-carousell .contenedor-carousel .row #carouselExampleFadee .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  body .mainVideos .videos .videoUno, body .mainVideos .videos .videoDos, body .mainVideos .videos .videoTres, body .mainVideos .videos .videoCuatro {
    width: 70%;
    height: 100%;
    object-fit: contain;
    grid-row: span 1;
    grid-column: span 1; }
  body .mainVideos {
    height: 180vh;
    margin: 0.5rem; }
    @media screen and (max-width: 600px) {
      body .mainVideos {
        height: 200vh;
        margin: 0.5rem; } }
    body .mainVideos .subtituloVideos {
      font-size: 0.8rem;
      background-color: #b7acaa;
      margin: 1rem;
      font-family: 'Montserrat', sans-serif;
      text-align: center; }
    body .mainVideos .videos {
      height: 170vh;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 40%);
      justify-items: center;
      text-align: center; }
      @media screen and (max-width: 600px) {
        body .mainVideos .videos {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 25%); } }
  body .mainAcerca {
    height: 100vh;
    margin: 0.5rem; }
    @media screen and (max-width: 600px) {
      body .mainAcerca {
        height: 150vh;
        margin: 0.5rem; } }
    body .mainAcerca .contenedorAcerca {
      background-color: #bfb0a3dd;
      display: flex;
      flex-direction: row;
      margin: 2rem;
      align-items: center; }
      @media screen and (max-width: 600px) {
        body .mainAcerca .contenedorAcerca {
          background-color: #bfb0a3dd;
          height: 45hv;
          display: flex;
          flex-direction: column;
          margin: 2rem;
          text-align: center; } }
      body .mainAcerca .contenedorAcerca .imagenAcerca .imgAcerca {
        justify-content: center;
        width: 60%;
        margin: 1rem; }
      body .mainAcerca .contenedorAcerca .contenidoAcerca {
        text-align: center;
        margin: 2rem; }
        body .mainAcerca .contenedorAcerca .contenidoAcerca h2 {
          font-size: 1.3rem; }
          body .mainAcerca .contenedorAcerca .contenidoAcerca h2 span {
            display: block; }
  body footer {
    height: auto;
    background-color: #000000c1;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    text-decoration: none;
    list-style: none; }
    body footer .contactame {
      color: whitesmoke;
      font-size: 0.9rem; }
    body footer .redesSociales a {
      text-decoration: none; }
      body footer .redesSociales a img {
        width: 4%;
        margin: 0.5rem; }
    body footer .derechos {
      font-size: 0.8rem;
      margin-top: 2rem; }
