@import "../mediaQueris/media-queris";
//acerca estilos
@import "../utilidades/mixin";

.mainAcerca{
    @include main (70vh, 0.5rem);

    @include mobilemain-acerca;
    .contenedorAcerca{
        @include flexAcerca(2rem);

        @include mobile-flex;
        .imagenAcerca{
            .imgAcerca{
                justify-content: center;
                width: 100%;
                margin: 1rem;
            }
        }
        .contenidoAcerca{
            text-align: center;
            margin: 2rem;
            h2{
                font-size: 1.3rem;
                span{
                    display: block;
                }
            }
               
        }

    }
}
